!!! 5
%html
  %head
    %title Your Backbone Skeleton app
    %script{:type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    %script{:type => "text/javascript", :src => "//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"}
    %script{:type => "text/javascript", :src => "//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.2/backbone-min.js"}
    %script{:type => "text/javascript", :src => "/assets/common.js"}
    %script{:type => "text/javascript", :src => "/assets/app.js"}
    %link{:href => '/assets/app.css', :rel => 'stylesheet'}
  %body
    #main